@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #5e6282;
  line-height: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Plus Jakarta Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fff;
  color: #5e6282;
  font-family: "Plus Jakarta Sans";
  font-weight: 500
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  text-align: center;
  color: #fff;
  border-radius: .625rem .625rem .625rem .625rem;
  background-color: #4475f2;
  box-shadow: 0 30px 60px 0 rgba(68,117,242,.25);
  padding: 1.125rem 3.375rem;
  font-weight: 700;
  line-height: 1.5625;
  position: relative;
  top: 0;
  transition: all .3s
}
.button--fw {
  width: 100%
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header-block {
  font-weight: 800
}
.header-block__label {
  color: #4475f2;
  font-size: 1.125rem;
  line-height: 1.277778;
  letter-spacing: 9.5%;
  text-transform: uppercase
}
.header-block__title {
  color: #000;
  line-height: 1.354167;
  letter-spacing: 1%;
  text-transform: capitalize
}
.title {
  font-weight: 800;
  text-align: left
}
.title--76 {
  color: #181e4b;
  line-height: 1.171053;
  letter-spacing: -4px
}
.header {
  position: sticky;
  position: relative;
  z-index: 50
}
.header__container {
  display: flex;
  align-items: center
}
.header__logo {
  flex: 0 0 auto
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: .9375rem
}
.menu__link {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.285714;
  letter-spacing: 0;
  text-transform: capitalize;
  transition: all .3s;
  text-shadow: .0625rem 0 .1875rem #fff
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: flex-start
}
.footer__item {
  text-align: center;
  display: flex;
  flex-direction: column
}
.footer__title {
  color: #000;
  font-weight: 700;
  line-height: 1.25
}
.footer__title:not(:last-child) {
  margin-bottom: 1.625rem
}
.footer__link-logo {
  max-width: 15.5rem
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0625rem;
  align-items: center
}
.footer__link {
  color: #000;
  font-size: 1.25rem;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center
}
.footer__copy {
  text-align: center;
  background-color: #4475f2;
  color: #fff;
  padding-left: .9375rem
}
.social {
  transition: all .3s
}
.hero {
  position: relative
}
.hero__container {
  display: flex;
  flex: 0 0 50%
}
.hero__container::after,
.hero__container::before {
  content: "";
  position: absolute;
  background-color: #4475f2;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  width: 2100vw;
  height: 150%;
  bottom: 0;
  border-radius: 50px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom
}
.hero__container::before {
  left: calc(50% + 30px);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg)
}
.hero__container::after {
  left: calc(50% + 444px);
  -webkit-transform: skewX(31deg);
  transform: skewX(31deg)
}
.hero__content {
  position: relative;
  z-index: 2
}
.hero__images {
  flex: 0 0 50%;
  position: relative;
  z-index: 2
}
.content-hero {
  display: grid;
  align-content: start
}
.content-hero:not(:last-child) {
  gap: 1.875rem
}
.content-hero__title a {
  color: #4475f2;
  text-decoration: underline
}
.content-hero__text p {
  font-weight: 400;
  line-height: 1.875
}
.content-hero__text p:not(:last-child) {
  margin-bottom: .625rem
}
.images-hero {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1.6875rem
}
.images-hero__item {
  transition: all .3s
}
.images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: .625rem
}
.images-hero__item--02 {
  padding-bottom: .625rem
}
.images-hero__item--03 {
  align-self: center;
  justify-self: end;
  grid-row: span 2;
  padding-bottom: 4.375rem
}
.images-hero__item--04 {
  align-self: end;
  justify-self: end
}
.images-hero__image {
  max-width: 100%;
  border-radius: .625rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.25)
}
.features__items {
  display: flex;
  justify-content: space-between
}
.features__item {
  flex: 0 1 17.9375rem;
  display: grid;
  justify-items: center
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.625rem;
  background-color: #4475f2;
  padding: 2.125rem 2.125rem;
  height: 100%;
  max-width: 100%;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  transition: all .3s
}
.features__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2%;
  text-align: center
}
.features__text {
  line-height: 1.875;
  letter-spacing: 2%;
  text-align: center
}
.features__text p:not(:last-child) {
  margin-bottom: .625rem
}
.services__items {
  display: grid
}
.services__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem
}
.services__content {
  flex: 1 1 250px
}
.services__title {
  color: #000;
  line-height: 1.25;
  letter-spacing: 2%
}
.services__title span {
  color: #4475f2
}
.services__text {
  line-height: 1.875;
  letter-spacing: 2%
}
.services__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.services__image {
  flex: 1 1 250px
}
.services__picture {
  aspect-ratio: 600/399;
  border-radius: .625rem .625rem .625rem .625rem;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25)
}
.reviews__items {
  display: flex;
  flex-wrap: wrap
}
.reviews__item {
  flex: 1 1 17.5rem;
  line-height: 1.875;
  letter-spacing: .2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  box-shadow: 0 2.77px 2.21px 0 rgba(0,0,0,.02),0 6.65px 5.32px 0 rgba(0,0,0,.03),0 12.52px 10.02px 0 rgba(0,0,0,.04),0 22.34px 17.87px 0 rgba(0,0,0,.04),0 41.78px 33.42px 0 rgba(0,0,0,.05),0 100px 80px 0 rgba(0,0,0,.07);
  padding: 2.5rem 3.5625rem 2.875rem 3.5625rem
}
.reviews__link-avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  overflow: hidden
}
.reviews__link-avatar:not(:last-child) {
  margin-bottom: 1.875rem
}
.reviews__avatar {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.reviews__text {
  flex-grow: 1
}
.reviews__text:not(:last-child) {
  margin-bottom: 1.5625rem
}
.reviews__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.reviews__title {
  color: #4475f2;
  text-transform: capitalize
}
.reviews__title:not(:last-child) {
  margin-bottom: .9375rem
}
.reviews__link-title {
  transition: all .3s
}
.reviews__position {
  color: #181e4b;
  text-transform: capitalize
}
.reviews__position:not(:last-child) {
  margin-bottom: .9375rem
}
.location__map {
  width: 100%;
  aspect-ratio: 1200/405;
  border-radius: .625rem;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25)
}
@media (min-width:29.99875em) {
  .content-hero {
    justify-items: start
  }
}
@media (min-width:47.99875em) {
  .services__item:nth-child(odd) {
    flex-direction: row-reverse
  }
  .services__item {
    align-items: flex-start
  }
  .services__item:nth-child(odd) .services__body {
    margin: 0 0 0 auto
  }
  .services__body {
    max-width: 26.25rem
  }
}
@media (min-width:76.875em) {
  .page__hero {
    margin-bottom: 10.625rem
  }
  .page__features {
    margin-bottom: 12.5rem
  }
  .page__services {
    margin-bottom: 12.5rem
  }
  .page__reviews {
    margin-bottom: 12.5rem
  }
  .page__location {
    margin-bottom: 15rem
  }
  .header-block--margin:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .header-block__label:not(:last-child) {
    margin-bottom: .75rem
  }
  .header-block__title {
    font-size: 3rem
  }
  .title--76 {
    font-size: 4.75rem
  }
  .header {
    padding-top: 4.8125rem
  }
  .header__container {
    -webkit-column-gap: 7.8125rem;
    -moz-column-gap: 7.8125rem;
    column-gap: 7.8125rem
  }
  .header__logo img {
    max-width: 8.75rem
  }
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .footer__body {
    margin-bottom: 5.9375rem
  }
  .footer__container {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .footer__container {
    row-gap: 6.25rem
  }
  .footer__title {
    font-size: 1.5rem
  }
  .footer__social {
    height: 5.8125rem
  }
  .footer__link {
    height: 5.8125rem
  }
  .footer__copy {
    padding-top: 3.1875rem
  }
  .footer__copy {
    padding-bottom: 3.1875rem
  }
  .hero {
    padding-top: 3.875rem
  }
  .hero {
    padding-bottom: 2.5rem
  }
  .content-hero {
    padding-right: 1.25rem
  }
  .features__items {
    gap: 9.375rem
  }
  .features__item {
    gap: 1.25rem
  }
  .features__title:not(:last-child) {
    margin-bottom: 1.8125rem
  }
  .services__items {
    gap: 8.75rem
  }
  .services__title {
    font-size: 2rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 2.625rem
  }
  .reviews__items {
    gap: 3.125rem
  }
}
@media (max-width:20em) {
  .page__hero {
    margin-bottom: 2.1875rem
  }
  .page__features {
    margin-bottom: 2.1875rem
  }
  .page__services {
    margin-bottom: 2.1875rem
  }
  .page__reviews {
    margin-bottom: 2.1875rem
  }
  .page__location {
    margin-bottom: 2.1875rem
  }
  .header-block--margin:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .header-block__label:not(:last-child) {
    margin-bottom: .625rem
  }
  .header-block__title {
    font-size: 1.875rem
  }
  .title--76 {
    font-size: 2.625rem
  }
  .header {
    padding-top: .9375rem
  }
  .header__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .header__logo img {
    max-width: 5rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer__body {
    margin-bottom: 1.5625rem
  }
  .footer__container {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .footer__container {
    row-gap: 1.875rem
  }
  .footer__title {
    font-size: 1.375rem
  }
  .footer__social {
    height: 2.5rem
  }
  .footer__link {
    height: 2.5rem
  }
  .footer__copy {
    padding-top: .625rem
  }
  .footer__copy {
    padding-bottom: .625rem
  }
  .hero {
    padding-top: 2.625rem
  }
  .hero {
    padding-bottom: 1.25rem
  }
  .features__items {
    gap: 1.5625rem
  }
  .features__item {
    gap: .625rem
  }
  .features__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .services__items {
    gap: 1.875rem
  }
  .services__title {
    font-size: 1.25rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .reviews__items {
    gap: .9375rem
  }
}
@media (max-width:76.875em) {
  .hero__container {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .images-hero {
    align-self: center
  }
}
@media (max-width:61.99875em) {
  .footer__container {
    flex-wrap: wrap
  }
  .features__items {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center
  }
}
@media (max-width:47.99875em) {
  .services__item {
    flex-direction: column
  }
  .services__image {
    text-align: center
  }
}
@media (max-width:37.5em) {
  .content-hero__title a {
    text-shadow: 0 0 .4375rem #fff
  }
}
@media (max-width:29.99875em) {
  .header__container {
    flex-direction: column;
    align-items: center
  }
  .menu__list {
    justify-content: center
  }
  .menu__link {
    font-size: 1.25rem
  }
}
@media (max-width:29.99875em) and (max-width:20em) {
  .header__container {
    row-gap: 1.25rem
  }
}
@media (min-width:20em) and (max-width:76.875em) {
  @supports (margin-bottom:clamp(2.1875rem ,-0.779532967rem + 14.8351648352vw ,10.625rem)) {
    .page__hero {
      margin-bottom: clamp(2.1875rem ,-.779532967rem + 14.8351648352vw ,10.625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,-0.779532967rem + 14.8351648352vw ,10.625rem)) {
    .page__hero {
      margin-bottom: calc(2.1875rem + 8.4375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__features {
      margin-bottom: clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__features {
      margin-bottom: calc(2.1875rem + 10.3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__services {
      margin-bottom: clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__services {
      margin-bottom: calc(2.1875rem + 10.3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__reviews {
      margin-bottom: clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,-1.4388736264rem + 18.1318681319vw ,12.5rem)) {
    .page__reviews {
      margin-bottom: calc(2.1875rem + 10.3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,-2.3179945055rem + 22.5274725275vw ,15rem)) {
    .page__location {
      margin-bottom: clamp(2.1875rem ,-2.3179945055rem + 22.5274725275vw ,15rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,-2.3179945055rem + 22.5274725275vw ,15rem)) {
    .page__location {
      margin-bottom: calc(2.1875rem + 12.8125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-0.2884615385rem + 7.6923076923vw ,5.625rem)) {
    .header-block--margin:not(:last-child) {
      margin-bottom: clamp(1.25rem ,-.2884615385rem + 7.6923076923vw ,5.625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-0.2884615385rem + 7.6923076923vw ,5.625rem)) {
    .header-block--margin:not(:last-child) {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.581043956rem + 0.2197802198vw ,0.75rem)) {
    .header-block__label:not(:last-child) {
      margin-bottom: clamp(.625rem ,.581043956rem + .2197802198vw ,.75rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.581043956rem + 0.2197802198vw ,0.75rem)) {
    .header-block__label:not(:last-child) {
      margin-bottom: calc(.625rem + .125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)) {
    .header-block__title {
      font-size: clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)) {
    .header-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(2.625rem ,1.8777472527rem + 3.7362637363vw ,4.75rem)) {
    .title--76 {
      font-size: clamp(2.625rem ,1.8777472527rem + 3.7362637363vw ,4.75rem)
    }
  }
  @supports not (font-size:clamp(2.625rem ,1.8777472527rem + 3.7362637363vw ,4.75rem)) {
    .title--76 {
      font-size: calc(2.625rem + 2.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,-0.4251373626rem + 6.8131868132vw ,4.8125rem)) {
    .header {
      padding-top: clamp(.9375rem ,-.4251373626rem + 6.8131868132vw ,4.8125rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,-0.4251373626rem + 6.8131868132vw ,4.8125rem)) {
    .header {
      padding-top: calc(.9375rem + 3.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem)) or (column-gap:clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem))) {
    .header__container {
      -webkit-column-gap: clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem);
      -moz-column-gap: clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem);
      column-gap: clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem)) or (column-gap:clamp(1.25rem ,-1.0576923077rem + 11.5384615385vw ,7.8125rem))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 6.5625 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(1.25rem + 6.5625 * (100vw - 20rem)/ 56.875);
      column-gap: calc(1.25rem + 6.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (max-width:clamp(5rem ,3.6813186813rem + 6.5934065934vw ,8.75rem)) {
    .header__logo img {
      max-width: clamp(5rem ,3.6813186813rem + 6.5934065934vw ,8.75rem)
    }
  }
  @supports not (max-width:clamp(5rem ,3.6813186813rem + 6.5934065934vw ,8.75rem)) {
    .header__logo img {
      max-width: calc(5rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) or (column-gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem);
      -moz-column-gap: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem);
      column-gap: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) or (column-gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875);
      column-gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.0240384615rem + 7.6923076923vw ,5.9375rem)) {
    .footer__body {
      margin-bottom: clamp(1.5625rem ,.0240384615rem + 7.6923076923vw ,5.9375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.0240384615rem + 7.6923076923vw ,5.9375rem)) {
    .footer__body {
      margin-bottom: calc(1.5625rem + 4.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports ((-moz-column-gap:clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem)) or (column-gap:clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem))) {
    .footer__container {
      -webkit-column-gap: clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem);
      -moz-column-gap: clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem);
      column-gap: clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem)) or (column-gap:clamp(2.5rem ,1.1813186813rem + 6.5934065934vw ,6.25rem))) {
    .footer__container {
      -webkit-column-gap: calc(2.5rem + 3.75 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(2.5rem + 3.75 * (100vw - 20rem)/ 56.875);
      column-gap: calc(2.5rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (row-gap:clamp(1.875rem ,0.3365384615rem + 7.6923076923vw ,6.25rem)) {
    .footer__container {
      row-gap: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
    }
  }
  @supports not (row-gap:clamp(1.875rem ,0.3365384615rem + 7.6923076923vw ,6.25rem)) {
    .footer__container {
      row-gap: calc(1.875rem + 4.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.331043956rem + 0.2197802198vw ,1.5rem)) {
    .footer__title {
      font-size: clamp(1.375rem ,1.331043956rem + .2197802198vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.331043956rem + 0.2197802198vw ,1.5rem)) {
    .footer__title {
      font-size: calc(1.375rem + .125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (height:clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)) {
    .footer__social {
      height: clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)
    }
  }
  @supports not (height:clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)) {
    .footer__social {
      height: calc(2.5rem + 3.3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (height:clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)) {
    .footer__link {
      height: clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)
    }
  }
  @supports not (height:clamp(2.5rem ,1.3351648352rem + 5.8241758242vw ,5.8125rem)) {
    .footer__link {
      height: calc(2.5rem + 3.3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,-0.2760989011rem + 4.5054945055vw ,3.1875rem)) {
    .footer__copy {
      padding-top: clamp(.625rem ,-.2760989011rem + 4.5054945055vw ,3.1875rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,-0.2760989011rem + 4.5054945055vw ,3.1875rem)) {
    .footer__copy {
      padding-top: calc(.625rem + 2.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,-0.2760989011rem + 4.5054945055vw ,3.1875rem)) {
    .footer__copy {
      padding-bottom: clamp(.625rem ,-.2760989011rem + 4.5054945055vw ,3.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,-0.2760989011rem + 4.5054945055vw ,3.1875rem)) {
    .footer__copy {
      padding-bottom: calc(.625rem + 2.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(2.625rem ,2.1854395604rem + 2.1978021978vw ,3.875rem)) {
    .hero {
      padding-top: clamp(2.625rem ,2.1854395604rem + 2.1978021978vw ,3.875rem)
    }
  }
  @supports not (padding-top:clamp(2.625rem ,2.1854395604rem + 2.1978021978vw ,3.875rem)) {
    .hero {
      padding-top: calc(2.625rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .hero {
      padding-bottom: clamp(1.25rem ,.8104395604rem + 2.1978021978vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .hero {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.5625rem ,-1.1847527473rem + 13.7362637363vw ,9.375rem)) {
    .features__items {
      gap: clamp(1.5625rem ,-1.1847527473rem + 13.7362637363vw ,9.375rem)
    }
  }
  @supports not (gap:clamp(1.5625rem ,-1.1847527473rem + 13.7362637363vw ,9.375rem)) {
    .features__items {
      gap: calc(1.5625rem + 7.8125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .features__item {
      gap: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .features__item {
      gap: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.2074175824rem + 2.0879120879vw ,1.8125rem)) {
    .features__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.2074175824rem + 2.0879120879vw ,1.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.2074175824rem + 2.0879120879vw ,1.8125rem)) {
    .features__title:not(:last-child) {
      margin-bottom: calc(.625rem + 1.1875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.875rem ,-0.5425824176rem + 12.0879120879vw ,8.75rem)) {
    .services__items {
      gap: clamp(1.875rem ,-.5425824176rem + 12.0879120879vw ,8.75rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-0.5425824176rem + 12.0879120879vw ,8.75rem)) {
    .services__items {
      gap: calc(1.875rem + 6.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.9862637363rem + 1.3186813187vw ,2rem)) {
    .services__title {
      font-size: clamp(1.25rem ,.9862637363rem + 1.3186813187vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.9862637363rem + 1.3186813187vw ,2rem)) {
    .services__title {
      font-size: calc(1.25rem + .75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.7664835165rem + 2.4175824176vw ,2.625rem)) {
    .services__title:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.7664835165rem + 2.4175824176vw ,2.625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.7664835165rem + 2.4175824176vw ,2.625rem)) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.1682692308rem + 3.8461538462vw ,3.125rem)) {
    .reviews__items {
      gap: clamp(.9375rem ,.1682692308rem + 3.8461538462vw ,3.125rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.1682692308rem + 3.8461538462vw ,3.125rem)) {
    .reviews__items {
      gap: calc(.9375rem + 2.1875 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (max-width:29.99875em) and (min-width:76.875em) {
  .header__container {
    row-gap: 3.125rem
  }
}
@media (max-width:29.99875em) and (min-width:20em) and (max-width:76.875em) {
  @supports (row-gap:clamp(1.25rem ,0.5906593407rem + 3.2967032967vw ,3.125rem)) {
    .header__container {
      row-gap: clamp(1.25rem ,.5906593407rem + 3.2967032967vw ,3.125rem)
    }
  }
  @supports not (row-gap:clamp(1.25rem ,0.5906593407rem + 3.2967032967vw ,3.125rem)) {
    .header__container {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    top: .1875rem;
    box-shadow: 0 30px 60px 0 rgba(68,117,242,.5)
  }
  .menu__link:hover {
    color: #4475f2
  }
  .footer__link:hover {
    text-decoration: underline
  }
  .social__item:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    box-shadow: 0 2.77px 2.21px 0 rgba(0,0,0,.02),0 6.65px 5.32px 0 rgba(0,0,0,.03),0 12.52px 10.02px 0 rgba(0,0,0,.04),0 22.34px 17.87px 0 rgba(0,0,0,.04),0 41.78px 33.42px 0 rgba(0,0,0,.05),0 100px 80px 0 rgba(0,0,0,.07)
  }
  .content-hero__title a:hover {
    text-decoration: none
  }
  .images-hero__item:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
  }
  .features__icon:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
  }
  .reviews__avatar:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
  }
  .reviews__link-title:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
  }
}